#mycanvas{
    background-color: #31f0f0;
    margin: 125px 0px 125px 295px;
}
.container {
    width: 375px;
    height: 525px;
    margin-left: 350px;
    margin-top: 65px;
    background-color: yellow;
    padding-left: 30px;
}
#height, #weight {
/////////////////////
    ///////
//////
/////
/
/
/
//////////////
//
/
